@model PersonelListesi.Models.AdminUser
@{
    ViewData["Title"] = "GetUser";
    Layout = "~/Views/Shared/_Admin_Layout.cshtml";
}

@using (Html.BeginForm("ResetPassword", "Login", FormMethod.Post))
{
    <b>ID:</b>
    <input type="text" name="Id" value="@ViewBag.ıd" class="form-control" disabled/>
    <b>Kullanıcı Adı:</b>
    <input type="text" name="username" value="@ViewBag.username" class="form-control" />
    <b>Şifre:</b>
    <input type="text" name="password" value="@ViewBag.password" class="form-control" /><br />

    <button class="btn btn-info">Güncelle</button>
}

