<!DOCTYPE html>
<html>
<title>AdminPanel</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />

<body>

    <!-- Sidebar -->
    <div class="w3-sidebar w3-light-grey w3-bar-block" style="width:25%">
        <h3 class="w3-bar-item">Menüler</h3>
        <a class="nav-link text-dark" asp-area="" asp-controller="AdminUI" asp-action="Index">Personeller</a>
        <a class="nav-link text-dark" asp-area="" asp-controller="Departman" asp-action="Index">Departmanlar</a>
        <a class="nav-link" style="color:red" asp-area="" asp-controller="Home" asp-action="Index">Geri Dön</a>
    </div>

    <!-- Page Content -->
    <div style="margin-left:25%">

        <div class="w3-container w3-teal">
            <h1>AdminUI</h1>
            <a class="nav-link" style="color:red" asp-area="" asp-controller="Login" asp-action="ResetPassword">Şifremi degiştir</a>
        </div>

        <div class="w3-container">
            @RenderBody()
        </div>

    </div>

</body>
</html>
